In [1]:
2+1

3

In [2]:
2-1

1

In [3]:
2*2

4

In [5]:
3.0/2

1.5

In [12]:

25**(1.0/2)

5.0

In [13]:
0.1+0.2-0.3

5.551115123125783e-17

In [15]:
print "Use '\n' to print a new line"

Use '
' to print a new line

In [18]:
len ("Hello")

5

In [19]:
s = 'Hello World'
print (s)

Hello World

In [22]:
s[0], s[1], s[2]

('H', 'e', 'l')

In [23]:
s[::3]

'HlWl'

In [35]:
print s[::-1]

dlroW olleH

In [27]:
s[-2]

'l'

In [31]:
d = "This is Sparta"
d[4]

' '

In [37]:
len(d)

14

In [38]:
s.upper()

'HELLO WORLD'

In [39]:
s

'Hello World'

In [40]:
s[2:]

'llo World'

In [2]:
s = 'STRING'
print 'Place another string with a mod and s: %s' %s

Place another string with a mod and s: STRING

In [3]:
print 'Tghis is a string with an {p}'.format(p='insert')

Tghis is a string with an insert

In [10]:
a = 10
b = 'elephant'
c = 12.3456

print ' this is the list: %s, %s, %3.3f' %(a, b, c)

 this is the list: 10, elephant, 12.346

In [14]:
print ' this is the list: {a}, {b}, {c}'.format(a=10,b=0,c=8)

 this is the list: 10, 0, 8

In [16]:
x = 2.0/4
print x

0.5

In [17]:
my_list = [1,2,3]

In [18]:
my_list

[1, 2, 3]

In [19]:
my_list = ['string', 23,1.2,'o']

In [20]:
my_list

['string', 23, 1.2, 'o']

In [21]:
len(my_list)

4

In [22]:
my_list = ['one','two','three',4,5]

In [23]:
my_list[1]

'two'

In [24]:
my_list[1:]

['two', 'three', 4, 5]

In [25]:
my_list[:3]

['one', 'two', 'three']

In [26]:
my_list + ['new item']

['one', 'two', 'three', 4, 5, 'new item']

In [27]:
l = [1,2,3]

In [28]:
l

[1, 2, 3]

In [29]:
l.append('append me!')

In [30]:
l

[1, 2, 3, 'append me!']

In [31]:
l.pop()

'append me!'

In [32]:
x = l.pop(0)

In [33]:
x

1

In [34]:
l

[2, 3]

In [35]:
new_list = ['a','e','x','b','c']

In [36]:
new_list

['a', 'e', 'x', 'b', 'c']

In [37]:
new_list.reverse()

In [38]:
new_list

['c', 'b', 'x', 'e', 'a']

In [39]:
new_list.sort()

In [40]:
new_list

['a', 'b', 'c', 'e', 'x']

In [41]:
l_1 = [1,2,3]
l_2 = [4,5,6]
l_3 = [7,8,9]

In [42]:
matrix = [l_1,l_2,l_3]

In [43]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [44]:
matrix[1]

[4, 5, 6]

In [46]:
matrix[1][2]

6

In [47]:
first_col = [row[0] for row in matrix]

In [48]:
first_col

[1, 4, 7]

In [50]:
d = {'key1':{'nestkey':{'subnestke':'value'}}}

In [51]:
d['key1']

{'nestkey': {'subnestke': 'value'}}

In [1]:
my_dict = {'key1':'value', key2:'value2'}

NameError: name 'key2' is not defined

In [2]:
my_dict = {'k1':123, 'k2':3.4,'k3':'string'}

In [3]:
my_dict['k1']

123

In [4]:
my_dict

{'k1': 123, 'k2': 3.4, 'k3': 'string'}

In [18]:
d = {'k1':{'nestkey':{'subnestkey':'value'}}}

In [20]:
d['k1']['nestkey']['subnestkey'].upper()

'value'

In [21]:
t = (1,2,3)
t

(1, 2, 3)

In [22]:
len(t)

3

In [23]:
t = ('one',2)
t

('one', 2)

In [24]:
t.index('one')

0

In [25]:
t.count("one")

1

In [26]:
t = (1,1,2,3,1)
t.count(1)

3

In [27]:
pwd

u'C:\\Users\\AJ'

In [28]:
f = open('test.txt')

In [29]:
f.read()

'This is a text file.'

In [30]:
%%writefile new.txt
First line
Second line

Writing new.txt

In [31]:
for line in open('new.txt'):
    print line

First line

Second line

In [1]:
x = set()

In [2]:
x

set()

In [3]:
x.add(1)
x

{1}

In [6]:
x.add(2)

In [8]:
x

{1, 2}

In [9]:
l = [1,1,1,1,1,2,2,2,2,3,3,3,3,3,3,3,3,4]

In [10]:
l

[1, 1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 4]

In [11]:
set(l)

{1, 2, 3, 4}

In [12]:
11 >2

True

In [13]:
set([1,1,2,3])

{1, 2, 3}

In [14]:
pwd

u'C:\\Users\\AJ'

In [15]:
2/3

0

In [16]:
if True:
    print 'It was True'

It was True

In [19]:
x = False

if x:
    print 'x was True'
else:
    print 'I will print when x is anthing not True'

I will print when x is anthing not True

In [20]:
loc = 'Bank'

if loc == 'Auto Shop':
    print 'Welcome to the Auto Shop'
elif loc == 'Bank':
    print 'Welcome to the bank!'
else:
    print 'Where are you?'

Welcome to the bank!

In [61]:
l = [1,2,3,4,5]

for num in l:
    print 'something'

something
something
something
something
something

In [28]:
# MODULO

10 % 3

1

In [29]:
18 % 7

4

In [30]:
l

[1, 2, 3, 4, 5]

In [31]:
for num in l:
    if num % 2 == 0:
        print 'Here is an even'
    else:
        print 'Odd number!'

Odd number!
Here is an even
Odd number!
Here is an even
Odd number!

In [32]:
l

[1, 2, 3, 4, 5]

In [58]:
list_sum = 0

for num in l:
    list_sum += num

print list_sum

15

In [35]:
s = 'this is a string!'

In [55]:
for letter in s:
    if letter == "s":
        print "Wooohooo"
    else:
        print letter

t
h
i
Wooohooo

i
Wooohooo

a

Wooohooo
t
r
i
n
g
!

In [40]:
tup = (1,2,3,4,5)

for t in tup:
    print t

1
2
3
4
5

In [41]:
l = [(2,4), (6,8), (10,12)]

In [42]:
l[2][0]

10

In [43]:
for tup in l:
    print tup

(2, 4)
(6, 8)
(10, 12)

In [45]:
for (t1,t2) in l:
    print t1
    print t2

2
4
6
8
10
12

In [46]:
d = {'k1':1, 'k2':2, 'k3':3}

In [47]:
d

{'k1': 1, 'k2': 2, 'k3': 3}

In [48]:
for item in d:
    print item

k3
k2
k1

In [50]:
for k,v in d.iteritems():
    print k
    print v

k3
3
k2
2
k1
1

In [63]:
x = 0

while x < 10:
    print 'x is currently: ',x
    x += 1

x is currently:  0
x is currently:  1
x is currently:  2
x is currently:  3
x is currently:  4
x is currently:  5
x is currently:  6
x is currently:  7
x is currently:  8
x is currently:  9

In [64]:
x = 0

while x < 10:
    print 'x is currently: ', x
    x += 1
    
else:
    print 'All Done!'

x is currently:  0
x is currently:  1
x is currently:  2
x is currently:  3
x is currently:  4
x is currently:  5
x is currently:  6
x is currently:  7
x is currently:  8
x is currently:  9
All Done!

In [65]:
#Break Continue Pass

In [67]:
x = 0
while x < 10:
    print 'x is currently: ',x
    print ' x is still less than 10, adding 1 to x'
    x += 1
    
    if x==3:
        print ' Hey x equals 3!'
        break
    else:
        print 'continuing....'
        continue

x is currently:  0
 x is still less than 10, adding 1 to x
continuing....
x is currently:  1
 x is still less than 10, adding 1 to x
continuing....
x is currently:  2
 x is still less than 10, adding 1 to x
 Hey x equals 3!

In [69]:
range(0,20)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [70]:
x = range(0,10)

In [71]:
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [72]:
type(x)

list

In [74]:
start = 0
stop = 20

range(start, stop, 2)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [75]:
l = [1,2,3,4,5]

In [77]:
for num in range(1,6):
    print num

1
2
3
4
5

In [2]:
l = []

for letter in 'word':
    l.append(letter)
    
print l

['w', 'o', 'r', 'd']

In [5]:
lst = [letter for letter in 'word']

In [6]:
lst

['w', 'o', 'r', 'd']

In [7]:
lst = [x**2 for x in range(0,11)]

In [8]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
lst = [number for number in range(11) if number %2 == 0]

lst

[0, 2, 4, 6, 8, 10]

In [10]:
# example of above in for loop

lst = []

for number in range(11):
    if number %2 == 0:
        lst.append(number)
        
lst

[0, 2, 4, 6, 8, 10]

In [12]:
celsius = [0,10,20.1,34.5]

fahrenheit = [(temp * (9/5.0) +32)  for temp in celsius]

fahrenheit

[32.0, 50.0, 68.18, 94.1]

In [13]:
# nested list comprehension

lst = [x**2 for x in [x**2 for x in range(11)]]

lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [14]:
print range(0,11,2)

[0, 2, 4, 6, 8, 10]

In [15]:
l = [1,2,3,4,5]

In [16]:
l.append(6)

In [17]:
l

[1, 2, 3, 4, 5, 6]

In [18]:
l.count(3)

1

In [19]:
help(l.count)

Help on built-in function count:

count(...)
    L.count(value) -> integer -- return number of occurrences of value

In [22]:
l.extend(l)

In [23]:
l

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [29]:
l.index(5)

4

In [30]:
help(l.index)

Help on built-in function index:

index(...)
    L.index(value, [start, [stop]]) -> integer -- return first index of value.
    Raises ValueError if the value is not present.